# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Xcode user settings
xcshareddata
xcuserdata

# Xcode Source-Control
*.moved-aside

# Eclipse
.project
.pydevproject
.settings

# Python caches
*.pyc

# suppressed files
data/*
test/*
overviews/*